<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.market.mapper.CartMapper">

<select id="selectAllCart"
		resultType="com.project.market.domain.CartDto">
		SELECT c.cartId cartId,
			p.name productName,
			c.bookCount bookCount,
			(p.price * c.bookCount) totalPrice,
			f.fileName,
			f.boardId
		FROM Product p 
		JOIN Cart c ON p.id = c.productId
		JOIN Member m ON m.id = c.memberId
		JOIN ProductPage pp ON pp.productId = p.id
		JOIN File f ON f.boardId = pp.id
		WHERE m.id = #{id}
		GROUP BY c.cartId
	</select>

<delete id="deleteCheckedCart">	   
			   DELETE FROM Cart
			   WHERE cartId = #{cartId};

</delete>

<select id="getCart"
resultType="com.project.market.domain.CartDto">
	SELECT p.name productName
		   p.id productId
		   p.price price
	FROM Product p
	WHERE m.id = #{id}
	
</select>


</mapper>