<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.market.mapper.MainMapper">

	<select id="getBoardlist1"
		resultType="com.project.market.domain.ProductPageDto">
		SELECT p.id id, f.fileName fileName, p.BoardTitle boardTitle
		FROM ProductPage p
		LEFT JOIN File f ON p.id = f.boardId
		ORDER BY p.id
		DESC LIMIT 0,4
	</select>
	
	<select id="getBoardlist2"
		resultType="com.project.market.domain.ProductPageDto">
		SELECT p.id id, f.fileName fileName,  p.BoardTitle boardTitle
		FROM ProductPage p
		LEFT JOIN File f ON p.id = f.boardId
		ORDER BY p.id
		DESC LIMIT 4,4
	</select>
</mapper>