<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.market.mapper.MemberMapper">

	<insert id="insertMember">
		INSERT INTO Member (id, password, email, nickName,
		name)
		VALUES (#{id}, #{password}, #{email}, #{nickName}, #{name})

	</insert>

	<select id="countMemberId" resultType="int">
		SELECT COUNT(id)
		FROM Member
		WHERE id = #{id}
	</select>

	<select id="countMemberEmail" resultType="int">
		SELECT COUNT(email)
		FROM Member
		WHERE email = #{email}
	</select>

	<select id="countMemberNickName" resultType="int">
		SELECT
		COUNT(nickName)
		FROM Member
		WHERE nickName = #{nickName}
	</select>

	<select id="selectMemberById"
		resultType="com.project.market.domain.MemberDto">
		SELECT id,
		password,
		email,
		nickName,
		name,
		inserted
		FROM Member
		WHERE id = #{id}
	</select>

	<!-- 권한 추가 -->
	<insert id="insertAuth">
		INSERT INTO Auth (memberId, role)
		VALUES (#{id},
		#{auth})
	</insert>

	<delete id="deleteAuthById">
		DELETE FROM Auth
		WHERE memberId = #{id}
	</delete>

	<delete id="deleteMemberById">
		DELETE FROM Member
		WHERE id = #{id}
	</delete>

	<update id="updateMember">
		UPDATE Member
		SET password = #{password},
		email = #{email},
		nickName = #{nickName}
		WHERE
		id = #{id}
	</update>

	<insert id="updateAddress">
		INSERT INTO Address (memberId, address)
		VALUES (#{id},
		#{member.address})
	</insert>

	<update id="updatePasswordById">
		UPDATE Member
		SET password = #{pw}
		WHERE id = #{id}
	</update>

	<select id="selectAllMember"
		resultType="com.project.market.domain.MemberDto">
		SELECT id,
		password,
		name,
		email,
		nickName,
		inserted
		FROM Member
		ORDER BY inserted DESC
	</select>

	<select id="getProductlist" resultType="com.project.market.domain.ProductDto">
		SELECT Product.id productId,
		Product.name productname,
		stock,
		price
		FROM Product
	</select>
</mapper>









