<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.market.mapper.MemberMapper">

	<insert id="insertMember">
		INSERT INTO Member (id, password, email, nickName,
		name)
		VALUES (#{id}, #{password}, #{email}, #{nickName}, #{name})

	</insert>

	<select id="countMemberId" resultType="int">
		SELECT COUNT(id)
		FROM
		Member
		WHERE id = #{id}
	</select>

	<select id="countMemberEmail" resultType="int">
		SELECT COUNT(email)
		FROM Member
		WHERE email = #{email}
	</select>

	<select id="countMemberNickName" resultType="int">
		SELECT
		COUNT(nickName)
		FROM Member
		WHERE nickName = #{nickName}
	</select>

	<select id="selectMemberById"
		resultType="com.project.market.domain.MemberDto">
		SELECT id,
		password,
		email,
		nickName,
		name,
		inserted,
		address
		FROM Member
		WHERE id = #{id}
	</select>

	<!-- 권한 추가 -->
	<insert id="insertAuth">
		INSERT INTO Auth (memberId, role)
		VALUES (#{id},
		#{auth})
	</insert>

	<delete id="deleteAuthById">
		DELETE FROM Auth
		WHERE memberId = #{id}
	</delete>

	<delete id="deleteMemberById">
		DELETE FROM Member
		WHERE id = #{id}
	</delete>

	<update id="updateMember">
		UPDATE Member
		SET password = #{password},
		email =
		#{email},
		nickName = #{nickName}
		WHERE
		id = #{id}
	</update>

	<insert id="updateAddress">
		INSERT INTO Address (memberId, address)
		VALUES (#{id},
		#{member.address})
	</insert>

	<update id="updatePasswordById">
		UPDATE Member
		SET password = #{pw}
		WHERE id = #{id}
	</update>

	<select id="selectAllMember"
		resultType="com.project.market.domain.MemberDto">
		SELECT id,
		password,
		name,
		email,
		nickName,
		inserted
		FROM Member
		ORDER BY inserted DESC
	</select>

	<select id="getProductlist"
		resultType="com.project.market.domain.ProductDto">
		SELECT Product.id productId,
		Product.name productname,
		stock,
		price
		FROM Product
	</select>

	<select id="selectAllAddress"
		resultType="com.project.market.domain.AddressDto">
		SELECT memberId,
		address
		FROM Address
	</select>

	<update id="updateOneAddress">
		UPDATE Member
		SET address = #{address}
		WHERE id = #{id}
	</update>

	<delete id="removeAddress">
		DELETE FROM Address
		WHERE address = #{address}
	</delete>

	<select id="countAddress" resultType="int">
		SELECT
		COUNT(address)
		FROM
		Address
		WHERE address = #{address}
	</select>

	<select id="selectUserOrder"
		resultType="com.project.market.domain.OrderDto">
		SELECT o.orderId, o.memberId, p.name productName, c.bookCount, (p.price	* c.bookCount) totalOrderPrice, o.recipient, o.address, o.inserted
		FROM Product p
		JOIN Orders o ON p.id = o.productId
		JOIN Member m ON m.id = o.memberId
		JOIN Cart c ON c.memberId = o.memberId
		WHERE m.id = #{id}
	</select>
	
	<select id="selectAllOrder"
		resultType="com.project.market.domain.OrderDto">
		SELECT o.orderId, o.memberId, p.name productName, c.bookCount, (p.price	* c.bookCount) totalOrderPrice, o.recipient, o.address, o.inserted, o.orderState
		FROM Product p
		JOIN Orders o ON p.id = o.productId
		JOIN Member m ON m.id = o.memberId
		JOIN Cart c ON c.memberId = o.memberId
	</select>
	
	<select id="findId"
		resultType="com.project.market.domain.MemberDto">
		SELECT id
		FROM Member
		WHERE email = #{email}
	</select>
	
	<update id="orderApprove">
		UPDATE Orders
		SET orderState = 1
		WHERE orderId = #{orderId}
	</update>
</mapper>








