<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.market.mapper.OrderMapper">

<select id="selectAllOrders"
		resultType="com.project.market.domain.CartDto">
		SELECT c.cartId cartId,
			p.name productName,
			c.bookCount bookCount,
			(p.price * c.bookCount) totalPrice 
		FROM Product p 
		JOIN Cart c ON p.id = c.productId
		JOIN Member m ON m.id = c.memberId
		WHERE m.id = #{id}
	</select>

<select id="selectMemberById"
		resultType="com.project.market.domain.MemberDto">
		SELECT id,
		password,
		email,
		nickName,
		name,
		address,
		inserted
		FROM Member
		WHERE id = #{id}
	</select>
	
	
	<insert id="addOrderList">
		INSERT INTO Orders(memberId,productName,address,recipient,orderState,bookCount)
		VALUES (#{memberId}, #{cart.productName}, #{address}, #{recipient}, 0,#{cart.bookCount})
		
	</insert>
	
	
	<delete id="deleteCartList">	   
			   DELETE FROM Cart
			   WHERE memberId = #{memberId};
			   
	</delete>
	
	
	<select id="getProduct"
		resultType="com.project.market.domain.OrderDto">
		SELECT name productName,
			   price price
		FROM Product
		WHERE id = #{productId}
	</select>


	<insert id="addDirectOrder">
		INSERT INTO Orders(memberId, productName, address, recipient, orderState, bookCount)
		VALUES (#{memberId},#{dto.productName}, #{address}, #{recipient}, 0, #{dto.bookCount})
		
	</insert>
	




</mapper>