<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.market.mapper.ProductPageMapper">

	<insert id="AddPage" useGeneratedKeys="true" keyColumn="id"
		keyProperty="id">
		INSERT INTO ProductPage (BoardTitle,BoardBody,productId)
		VALUES(#{boardTitle},#{boardBody},#{productId})

	</insert>

	<insert id="Addproduct">
		INSERT INTO Product (name,Stock,price)
		VALUES(#{productName},#{stock},#{price})
	</insert>

	<select id="getcategory"
		resultType="com.project.market.domain.ProductDto">
		Select id as product_Middle_Class , name as middle_Name
		FROM
		Product_middle_class

	</select>

	<select id="getcategory_low"
		resultType="com.project.market.domain.ProductDto">
		SELECT id as product_Low_Class , name as low_Name
		FROM
		Product_low_Class
		where Product_middle_class = #{Product_Middle_Class}

	</select>

	<insert id="Addcategory">
		INSERT INTO ProductCode (ProductId, ProductCode0,
		ProductCode1)
		VALUES(#{productId},#{newProductCode0},#{newProductCode1})
	</insert>

	<select id="getproductId" resultType="int">
		SELECT id as productId FROM
		Product ORDER BY id DESC LIMIT 1;

	</select>


	<select id="getproductBoard"
		resultType="com.project.market.domain.ProductPageDto">
		SElECT board.id,
		board.BoardTitle as boardTitle,
		board.BoardBody as boardBody,
		board.productId,
		board.inserttime
		FROM
		ProductPage as board
		WHERE board.id = #{boardId} ;
	</select>

	<select id="getfileList" resultType="string">

		SELECT File.fileName as
		fileList
		FROM ProductPage as board LEFT JOIN File ON
		board.id =
		File.boardId
		WHERE board.id = #{id} and whichboard =0 ; ;

	</select>

	<select id="getproduct"
		resultType="com.project.market.domain.ProductDto">
		SELECT name as productName,
		price as price,
		Stock
		From Product
		WHERE id =#{productId};

	</select>

	<select id="getBoardlist"
		resultType="com.project.market.domain.ProductPageDto">
		SELECT pp.id as id,
		pp.BoardTitle,
		pp.BoardBody,
		Product.price as
		priceTopage,
		Product.name as productName,
		pm.name,
		pp.inserttime as
		inserttime,
		f.fileName as fileName

		FROM ProductPage as pp Join ProductCode as p ON pp.productId
		= p.Productid
		JOIN Product ON Product.id =pp.productId
		Join
		Product_middle_class as pm ON p.ProductCode0 = pm.id
		LEFT JOIN File as f ON pp.id = f.boardId

		<choose>
			<when test="cat!= null">


				<if test="search != '%%'">


					<choose>
						<when test="cat==0">
							WHERE pp.BoardTitle LIKE #{search} and f.whichboard =0 
						</when>
						<when test="cat== 1">
							WHERE pm.id = 1
							AND pp.BoardTitle LIKE #{search} and f.whichboard =0 
						</when>
						<when test="cat== 2">
							WHERE pm.id = 2
							AND pp.BoardTitle LIKE #{search} and f.whichboard =0 
						</when>

						<when test="cat== 3">
							WHERE pm.id = 3
							AND pp.BoardTitle LIKE #{search} and f.whichboard =0 
						</when>

						<when test="cat== 4">
							WHERE pm.id = 4
							AND pp.BoardTitle LIKE #{search} and f.whichboard =0 
						</when>

						<when test="cat== 5">
							WHERE pm.id = 5
							AND pp.BoardTitle LIKE #{search} and f.whichboard =0
						</when>


						<when test="cat== 7">
							WHERE pm.id = 6
							AND pp.BoardTitle LIKE #{search} and f.whichboard =0
						</when>

						<when test="cat== 8">
							WHERE pm.id = 7
							AND pp.BoardTitle LIKE #{search} and f.whichboard =0
						</when>
					</choose>

				</if>
				<if test="search == '%%'">


					<choose>
						<when test="cat==0">

						</when>
						<when test="cat== 1">
							WHERE pm.id = 1 and f.whichboard =0

						</when>
						<when test="cat== 2">
							WHERE pm.id = 2 and f.whichboard =0

						</when>

						<when test="cat== 3">
							WHERE pm.id = 3 and f.whichboard =0

						</when>

						<when test="cat== 4">
							WHERE pm.id = 4 and f.whichboard =0

						</when>

						<when test="cat== 5">
							WHERE pm.id = 5 and f.whichboard =0

						</when>


						<when test="cat== 7">
							WHERE pm.id = 6 and f.whichboard =0

						</when>

						<when test="cat== 8">
							WHERE pm.id = 7 and f.whichboard =0

						</when>
					</choose>

				</if>
			</when>

			<when test="cat== null">
				 
				WHERE pp.BoardTitle LIKE #{search} and f.whichboard =0

			</when>
		</choose>
	
 GROUP BY pp.id
ORDER BY  inserttime DESC 
LIMIT #{pageToStart},#{onePageAllBoardNum}
	</select>

	<delete id="deleteBoard">
		DELETE FROM ProductPage
		WHERE id = #{id};

	</delete>

	<insert id="insertFile">
	<if test="mod == 'productpage'">
	
		INSERT INTO File (boardId, fileName, whichboard)
		VALUES(#{boardId}, #{fileName}, 0);
	</if>
	<if test="mod == 'reviewpage'">
	INSERT INTO File (boardId, fileName, whichboard)
		VALUES(#{boardId}, #{fileName}, 1);
	
	</if>
	
	</insert>

	<update id="updateProduct">
		UPDATE Product
		SET name = #{productName},
		Stock =
		#{stock},
		price = #{price}
		WHERE
		id = #{productId};


	</update>
	<update id="updataPage">
		UPDATE ProductPage
		SET BoardTitle = #{boardTitle},
		BoardBody = #{boardBody}
		WHERE
		id = #{id};

	</update>


	<delete id="deleteImg">
		DELETE FROM File
		WHERE boardId = #{id}
		AND fileName =
		#{fileName}
	</delete>

	<select id="getprodutlist"
		resultType="com.project.market.domain.ProductDto">

		         SELECT Product.id as productId ,
				Product.name as productName,
				Product.Stock as stock,
                Product.price as price,
               
                File.fileName,
                ProductPage.id as boardId
         FROM Product LEFT JOIN ProductPage on ProductPage.productId = Product.id
					  LEFT JOIN File on File.boardid = ProductPage.id
					  ORDER BY Stock

	</select>

	<delete id="deleteCategory">
		DELETE FROM ProductCode
		WHERE Productid = #{productId};

	</delete>


	<delete id="deleteCart">
	
	DELETE FROM Cart
        WHERE productId = #{productId};
	
	</delete>

	<delete id="DeleteProduct">
		DELETE FROM Product
		WHERE id = #{productId};

	</delete>
	
	<delete id="deleteBoardfordeleteProduct">
	DELETE FROM ProductPage
		WHERE productId = #{productId};
	
	
	</delete>

	<update id="modifyProduct">
		UPDATE Product
		SET Stock = #{stock},
		price = #{price}
		WHERE id =#{productId};

	</update>

	<select id="getFileForList" resultType="string">

		SELECT * FROM File GROUP BY boardId;
	</select>
	
	<insert id="addCart">
	INSERT INTO Cart(memberId,productId,bookCount)
        VALUES(#{memberId},#{productId},#{bookCount})
	
	</insert>
	
	<select id="getAllBoardNum" resultType="com.project.market.domain.PaginationDto">
	   SELECT COUNT(ProductPage.id) as allBoard
	  FROM ProductPage LEFT JOIN Product ON ProductPage.productId = Product.id
								JOIN ProductCode ON ProductCode.Productid = Product.id 
                               <if test = "cat != 0">                               
                               WHERE ProductCode0 = #{cat} ;
                               </if>
                               
	
	</select>
	<select id="getcat0" resultType="int">
	SELECT ProductCode0 from ProductCode WHERE Productid = #{productId}  ;
	
	</select>
	
	<select id="getCategoryName" resultType="string">
	SELECT * FROM Product_middle_class WHERE id =#{category};
	
	</select>
	
	<select id="searchProductName" resultType="int">
	SELECT count(id) FROM Product 
        WHERE name LIKE #{name} 
	
	</select>
	
	
	<insert id="AddreviewPage" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
		INSERT INTO ReviewPage(reviewtitle,reviewbody,memberId,productpage)
		VALUES(#{reviewTitle},#{reviewBody},#{memberId},#{productPage})
	
	</insert>
	
	<select id="getReviewList" resultMap="reviewPageMapper">
	
	         SELECT 
	         ReviewPage.id as Id,
				ReviewPage.productpage as productPage,
                ReviewPage.reviewtitle as reviewTitle,
                ReviewPage.reviewbody as reviewBody,
                File.fileName as revireFileName,
                File.fileName as fileList,
                ReviewPage.memberId
         FROM ReviewPage LEFT JOIN File ON File.boardid = ReviewPage.id
        WHERE productpage =#{id}
	</select>
	
	<select id="getBoardFile" resultType = "string">
	 SELECT fileName FROM File
        WHERE boardId =#{id} and WhichBoard =0;
	
	</select>
	
	<select id="replyViewFileList" resultType ="string">
	 SELECT fileName FROM File
        WHERE boardId =#{id} and WhichBoard =1;
	</select>
	
	<delete id="deleteReview">
	DELETE FROM ReviewPage
        WHERE id = #{id};
	
	</delete>
	
	
<!-- 	<select id="getreviewfile" resultMap="reviewPageMapper">
 SELECT File.boardId as Id,
		fileName as fileList
         FROM ReviewPage JOIN File ON ReviewPage.id = File.boardId
         WHERE productpage = #{Id} AND WhichBoard =1;

</select> -->

<resultMap id="fileListMapper" type="String">
    <result property="fileList" column="fileList" 
            javaType="String" />
</resultMap>

<resultMap type="com.project.market.domain.ReviewpageDto" id="reviewPageMapper" >
    <id column="Id" property="id" />
    <result column="productPage" property="productPage" />
    <result column="reviewTitle" property="reviewTitle" />
    <result column="reviewBody" property="reviewBody" />
    <result column="revireFileName" property="revireFileName" />
    <result column="memberId" property="memberId" />
    <collection resultMap="fileListMapper" property="fileList" />
</resultMap>



<select id="whoBuyThis" resultType ="com.project.market.domain.BuycheckDto">
SELECT Orders.orderId,
				Orders.memberId,
                Product.id as Productid,
                Orders.orderState,
                ProductPage.id as  ProductPageid
                
                FROM Orders
				Join Product ON Orders.productName = Product.name
                Join ProductPage ON Product.id = ProductPage.productId
               
                WHERE orderState =1 and Orders.memberId=#{name} and ProductPage.id =#{id};
</select>

<select id="searchProduct"  resultType = "com.project.market.domain.ProductDto">
 SELECT Product.id as productId ,
				Product.name as productName,
				Product.Stock as stock,
                Product.price as price,
               
                File.fileName,
                ProductPage.id as boardId
         FROM Product LEFT JOIN ProductPage on ProductPage.productId = Product.id
					  LEFT JOIN File on File.boardid = ProductPage.id
                      WHERE Product.name LIKE #{search}
                      ORDER BY Stock;

</select>

<select id="reviewNum" resultType ="int">
SELECT Count(id) FROM ReviewPage
                WHERE productpage = #{id} and memberId =#{name};

</select>
</mapper>