<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.market.mapper.ProductPageMapper">

	<insert id="AddPage" useGeneratedKeys="true" keyColumn="id"
		keyProperty="id">
		INSERT INTO ProductPage (BoardTitle,BoardBody,productId)
		VALUES(#{boardTitle},#{boardBody},#{productId})

	</insert>

	<insert id="Addproduct">
		INSERT INTO Product (name,Stock,price)
		VALUES(#{productName},#{stock},#{price})
	</insert>

	<select id="getcategory"
		resultType="com.project.market.domain.ProductDto">
		Select id as product_Middle_Class , name as middle_Name
		FROM
		Product_middle_class

	</select>

	<select id="getcategory_low"
		resultType="com.project.market.domain.ProductDto">
		SELECT id as product_Low_Class , name as low_Name
		FROM
		Product_low_Class
		where Product_middle_class = #{Product_Middle_Class}

	</select>

	<insert id="Addcategory">
		INSERT INTO ProductCode (ProductId, ProductCode0,
		ProductCode1)
		VALUES(#{productId},#{newProductCode0},#{newProductCode1})
	</insert>

	<select id="getproductId" resultType="int">
		SELECT id as productId FROM
		Product ORDER BY id DESC LIMIT 1;

	</select>


	<select id="getproductBoard"
		resultType="com.project.market.domain.ProductPageDto">
		SElECT board.id,
		board.BoardTitle as boardTitle,
		board.BoardBody as boardBody,
		board.productId,
		board.inserttime
		FROM
		ProductPage as board
		WHERE board.id = #{boardId} ;
	</select>

	<select id="getfileList" resultType="string">

		SELECT File.fileName as
		fileList
		FROM ProductPage as board LEFT JOIN File ON
		board.id =
		File.boardId
		WHERE board.id = #{id} ;

	</select>

	<select id="getproduct"
		resultType="com.project.market.domain.ProductDto">
		SELECT name as productName,
		price as price,
		Stock
		From Product
		WHERE id =#{productId};

	</select>

	<select id="getBoardlist"
		resultType="com.project.market.domain.ProductPageDto">
		SELECT pp.id as id,
		pp.BoardTitle,
		pp.BoardBody,
		Product.price as
		priceTopage,
		Product.name as productName,
		pm.name,
		pp.inserttime as
		inserttime,
		f.fileName as fileName

		FROM ProductPage as pp Join ProductCode as p ON pp.productId
		= p.Productid
		JOIN Product ON Product.id =pp.productId
		Join
		Product_middle_class as pm ON p.ProductCode0 = pm.id
		LEFT JOIN File as f ON pp.id = f.boardId

		<choose>
			<when test="cat!= null">


				<if test="search != '%%'">


					<choose>
						<when test="cat==0">
							WHERE pp.BoardTitle LIKE #{search}
						</when>
						<when test="cat== 1">
							WHERE pm.id = 1
							AND pp.BoardTitle LIKE #{search}
						</when>
						<when test="cat== 2">
							WHERE pm.id = 2
							AND pp.BoardTitle LIKE #{search}
						</when>

						<when test="cat== 3">
							WHERE pm.id = 3
							AND pp.BoardTitle LIKE #{search}
						</when>

						<when test="cat== 4">
							WHERE pm.id = 4
							AND pp.BoardTitle LIKE #{search}
						</when>

						<when test="cat== 5">
							WHERE pm.id = 5
							AND pp.BoardTitle LIKE #{search}
						</when>


						<when test="cat== 7">
							WHERE pm.id = 6
							AND pp.BoardTitle LIKE #{search}
						</when>

						<when test="cat== 8">
							WHERE pm.id = 7
							AND pp.BoardTitle LIKE #{search}
						</when>
					</choose>

				</if>
				<if test="search == '%%'">


					<choose>
						<when test="cat==0">

						</when>
						<when test="cat== 1">
							WHERE pm.id = 1

						</when>
						<when test="cat== 2">
							WHERE pm.id = 2

						</when>

						<when test="cat== 3">
							WHERE pm.id = 3

						</when>

						<when test="cat== 4">
							WHERE pm.id = 4

						</when>

						<when test="cat== 5">
							WHERE pm.id = 5

						</when>


						<when test="cat== 7">
							WHERE pm.id = 6

						</when>

						<when test="cat== 8">
							WHERE pm.id = 7

						</when>
					</choose>

				</if>
			</when>

			<when test="cat== null">
				 GROUP BY pp.id
				WHERE pp.BoardTitle LIKE #{search}

			</when>
		</choose>

ORDER BY  inserttime DESC 
	</select>

	<delete id="deleteBoard">
		DELETE FROM ProductPage
		WHERE id = #{id};

	</delete>

	<insert id="insertFile">
		INSERT INTO File (boardId, fileName)
		VALUES(#{boardId}, #{fileName});
	</insert>

	<update id="updateProduct">
		UPDATE Product
		SET name = #{productName},
		Stock =
		#{stock},
		price = #{price}
		WHERE
		id = #{productId};


	</update>
	<update id="updataPage">
		UPDATE ProductPage
		SET BoardTitle = #{boardTitle},
		BoardBody = #{boardBody}
		WHERE
		id = #{id};

	</update>


	<delete id="deleteImg">
		DELETE FROM File
		WHERE boardId = #{id}
		AND fileName =
		#{fileName}
	</delete>

	<select id="getprodutlist"
		resultType="com.project.market.domain.ProductDto">

		SELECT
		id as productId,
		name as productName,
		Stock as stock,
		price as price
		FROM Product;

	</select>

	<delete id="deleteCategory">
		DELETE FROM ProductCode
		WHERE Productid = #{productId};

	</delete>

	<delete id="DeleteProduct">
		DELETE FROM Product
		WHERE id = #{productId};

	</delete>

	<update id="modifyProduct">
		UPDATE Product
		SET Stock = #{stock},
		price = #{price}
		WHERE id =#{productId};

	</update>

	<select id="getFileForList" resultType="string">

		SELECT * FROM File GROUP BY boardId;
	</select>
	
	<insert id="addCart">
	INSERT INTO Cart(memberId,productId,bookCount)
        VALUES(#{memberId},#{productId},#{bookCount})
	
	</insert>



</mapper>